@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

/* styles.css */
/* global.css */

/* Menerapkan padding dan margin dasar */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.terminal-container {
  background-color: #272822;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 700px;
}

.terminal-header {
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  padding: 8px 12px;
  border-radius: 8px 8px 0 0;
}

.terminal-header .circle {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50%;
}

.terminal-header .red {
  background-color: #ff5f56;
}

.terminal-header .yellow {
  background-color: #ffbd2e;
}

.terminal-header .green {
  background-color: #27c93f;
}

.terminal-content {
  padding: 20px;
  background-color: #1e1e1e;
  color: #32cd32;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.animate-blink {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Menyesuaikan ukuran font untuk layar kecil */
@media (max-width: 768px) {
  .terminal-content {
    font-size: 0.9rem;
  }
}

/* Menyesuaikan padding dan font untuk layar sangat kecil */
@media (max-width: 480px) {
  .terminal-content {
    font-size: 0.8rem;
    padding: 16px;
  }

  .terminal-header {
    padding: 6px 10px;
  }
}
